@import url("../../App.css");

.scores-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  width: 446px;
  padding: 0px 10px;

  font-family: 'PT Mono', monospace;
}

.scores-header {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;

  color: var(--color-base-dark);
}

.scores-table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 356.8px;
  height: 80%;
  -webkit-box-shadow: 0px 0px 2px 2px var(--color-blue-extra-light);
  -moz-box-shadow: 0px 0px 2px 2px var(--color-blue-extra-light);
  box-shadow: 0px 0px 2px 2px var(--color-blue-extra-light);

  background-color: var(--color-base-100);
}

.scores-table-label, .scores-table {
  -webkit-box-shadow: 0px 0px 2px 2px var(--color-accent-base);
  -moz-box-shadow: 0px 0px 2px 2px var(--color-blue-base);
  box-shadow: 0px 0px 2px 2px var(--color-blue-base);
}

.scores-table-label {
  width: 90%;
  padding: 3px 0px;
  margin-top: 10px;
  max-height: 30px;
  font-size: 20px;
  text-align: center;

  background-color: var(--color-base-light);
}

.scores-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
  height: 200px;
  width: 90%;

  background-color: var(--color-base-light);
}


.col-key {
  font-weight: 700;
}

.score-row {
  display: flex;

  margin: 5px 0px;
  width: 90%;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--color-base-100);
}

.score-col {
  text-align: center;
  flex: 3;
}
