@import url("../../App.css");

.typing-screen-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.typing-screen-card-wrapper {
  position: relative;

  display: flex;
  align-items: center;

  width: 90%;
  height: 90px;
  padding: 5px 0px;
  -webkit-box-shadow: 0px 0px 5px 5px var(--color-base-dark);
  -moz-box-shadow: 0px 0px 5px 5px var(--color-base-dark);
  box-shadow: 0px 0px 5px 5px var(--color-base-dark);

  background-color: var(--color-base-light);
}

.screen-card-content-right, .screen-card-content-left {
  flex: 5;

  display: flex;
  align-items: center;

  max-width: 50%;
  margin: 5px 0px;
  height: 100%;

  overflow: hidden;
}

.screen-card-content-left {
  justify-content: flex-end;
} 

.screen-word {
  display: flex;
  width: auto;
  margin-right: 15px;
  min-height: 40px;

  font-size: 30px;
  font-family: 'PT Mono';
  line-height: 1.5;
}

.active-word {
  animation-name: border-blinker;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;

  border-left: 3px solid #3295db;
  border-radius: 0px;

  color: #3295db;
}

@keyframes border-blinker {
  0% {
    border-color: #3295db;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #3295db;
  }
}

.active-left {
  margin: 0px;
}

.word-correct {
  color: rgb(106, 153, 106);
}

.word-incorrect {
  color: red;
  text-decoration: line-through;
}

.type-text-input {
  border: none;
  margin-top: 10px;
  
  background-color: var(--color-base-light);
}

.type-text-input:focus {
  outline: none;
  caret-color: transparent;
}