@import url("../../App.css");

.status-bar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 80%;

  font-family: 'PT Mono', monospace;
  color: var(--color--base-dark);
}

.status-bar-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 100px;
  -webkit-box-shadow: 0px 0px 2px 2px var(--color-blue-extra-light);
  -moz-box-shadow: 0px 0px 2px 2px var(--color-blue-extra-light);
  box-shadow: 0px 0px 2px 2px var(--color-blue-extra-light);

  background-color: var(--color-base-100);
}

.timer-label {
  font-size: 40px;
  font-family: inherit;
  color: inherit;
}

.status-bar-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-bar-title {
  font-size: 20px;
  text-align: center;
}

.status-action-btn {
  transition: 1s;

  padding: 5px 10px;
  margin: 5px 0px;
  width: max-content;
  margin: 0px 5px;
  border: 3px solid var(--color-base-100);

  cursor: pointer;

  color: var(--color-base-light);
  font-size: 24px;
  font-family: inherit;
  
}

.return {
  color: var(--color--base-dark);
}

.reset {
  color: var(--color-base-light);
  background-color: var(--color-blue-base);
}

.reset:hover {
  background-color: var(--color-blue-dark);
}
