@import url("../../App.css");

.selection-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 446px;
  padding: 0px 10px;
}

.selection-prompt {
  margin: 25px;
  color: var(--color-base-dark);
  font-family: 'PT Mono', monospace;
  font-size: 24px;
  font-weight: 700;
}

.upper-selection-menu, 
.lower-selection-menu, 
.level-selection-dropdown  {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 80%;
  padding: 10px 0px;
  -webkit-box-shadow: 0px 0px 2px 2px var(--color-blue-extra-light);
  -moz-box-shadow: 0px 0px 2px 2px var(--color-blue-extra-light);
  box-shadow: 0px 0px 2px 2px var(--color-blue-extra-light);

  background-color: var(--color-base-100);

  font-family: 'PT Mono', monospace;
  color: var(--color-base-dark);
}

.upper-selection-difficulty-options {
  display: flex;
  flex-direction: column;
}

.difficulty-selector {
  padding: 5px 10px;
  margin: 5px 0px;
  border: none;

  background-color: var(--color-base-light);

  font: inherit;
  font-size: 20px;
}

.difficulty-selector:not(.selected):hover {
  transition: .5s;

  background-color: var(--color-base-200);
}

.selected {
  background-color: var(--color-blue-base);
  -webkit-box-shadow: 0px 0px 2px 2px var(--color-accent-base);
  -moz-box-shadow: 0px 0px 2px 2px var(--color-blue-base);
  box-shadow: 0px 0px 2px 2px var(--color-blue-base);

  color: var(--color-base-light);
}

.time-options-wrapper {
  display: flex;
  align-items: center;
}

.selected-time-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px 5px;
  height: 100px;
  width: 100px;
  -webkit-box-shadow: 0px 0px 2px 2px var(--color-accent-base);
  -moz-box-shadow: 0px 0px 2px 2px var(--color-blue-base);
  box-shadow: 0px 0px 2px 2px var(--color-blue-base);

  background-color: var(--color-base-light);
  cursor: default;
}

.time-display {
  font-family: 'PT Mono', monospace;
  font-size: 20px;
}

.selector-arrow-wrapper {
  width: 30px;
}

.selector-arrow {
  height: 0px;
  width: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  cursor: pointer;
}

.arrow-left {  
  transition: 1s;

  margin-right: 5px;
  border-right: 25px solid var(--color-blue-base);
}

.arrow-left:hover {
  border-right: 25px solid var(--color-blue-dark);
}

.arrow-right {
  transition: 1s;

  margin-left: 5px;
  border-left: 25px solid var(--color-blue-base);
}

.arrow-right:hover {
  border-left: 25px solid var(--color-blue-dark);
}

.lower-selection-menu {
  position: relative;
}

.level-selection-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  border-radius: 5px;
  padding: 5px 10px;

  font-size: 20px;

  background-color: var(--color-base-light);
  cursor: default;
}

.level-selection-display {
  font: inherit;
  color: inherit;
}

.dropdown-toggle {
  height: 0px;
  width: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--color-blue-base);
  border-bottom-left-radius: 10px;

  cursor: pointer;
}

.level-selection-dropdown {
  position: absolute;
  top: 45px;

  flex-direction: column;
  align-items: center;

  width: 356.8px;
}

.level-item {
  transition: .5s;

  width: 90%;
  font-size: 20px;
  padding: 5px;
  margin: 1.5px 0px;

  background-color: var(--color-base-light);

  list-style: none;
}

.level-item:hover {
  background-color: var(--color-blue-light);
}