.selection-wrapper {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 5px;
  padding: 10px 0px;
  border-radius: 10px;
}

.selection-prompt {
  width: 80%;
  text-align: center;
  margin: 10px;
}

.upper-selection-menu, .lower-selection-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  background-color: lightgray;
  padding: 10px 0px;
  border-radius: 10px;
}

.upper-selection-difficulty-options {
  display: flex;
  flex-direction: column;
}

.difficulty-selector {
  font-size: 30px;
  padding: 5px 10px;
  margin: 5px 0px;
}

.selected {
  background-color: red;
}

.time-options-wrapper {
  display: flex;
  align-items: center;
}

.selected-time-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: white;
  cursor: default;
}

.time-selector-wrapper {
  height: 100px;
  width: 30px;
}

.selector-arrow-wrapper {
  width: 30px;
}

.selector-arrow {
  height: 0px;
  width: 0px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  cursor: pointer;
}

.arrow-left {  
  margin-right: 5px;
  border-right: 25px solid black;
}

.arrow-right {
  margin-left: 5px;
  border-left: 25px solid black;
}

.lower-selection-menu {
  position: relative;
}

.level-selection-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 5px 10px;
  background-color: white;
  width: 80%;
  border-radius: 5px;
  cursor: default;
}

.dropdown-toggle {
  height: 0px;
  width: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid black;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.level-selection-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  padding: 5px;
  width: 314px;
  border-radius: 5px;
  top: 45px;
}

.level-item {
  width: 90%;
  font-size: 20px;
  list-style: none;
  padding: 5px;
  border-radius: 5px;
}

.level-item:hover {
  background-color: lightgray;
}