.controls-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 25px;
}

.control-btn {
  font-size: 30px;
  width: 100px;
  height: 75px;
  border-radius: 10px;
  padding: 0px 10px;
  margin-right: 15px;
  cursor: pointer;
  border: 3px solid lightgray;
  transition: 1s;
}

.control-btn:disabled, .start-btn:disabled {
  cursor: not-allowed;
}

.reset {
  background-color: #fffec8;
}

.reset:not(:disabled):hover {
  background-color: #d4d25c;
}

.stop {
  background-color: #FFD9D9;
}

.stop:not(:disabled):hover {
  background-color: #D97F7F;
}

.start-btn {
  font-size: 30px;
  padding: 0px 10px;
  height: 75px;
  transition: 1s;
  background-color: #bff4be;
  border: 3px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.start-btn::not(:disabled):hover {
  background-color: #73be73 ;
}

