@import url("../../App.css");

.app-header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(135deg, var(--color-blue-light)0%, var(--color-blue-base) 32%, var(--color-blue-dark) 63%, var(--color-base-dark) 100%);
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  width: 970px;
  font-family: 'PT Mono', monospace;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.header-left {
  width: fit-content;
}

.header-right {
  /* flex: 3; */
  justify-content: flex-end;
}

.header-title {
  width: fit-content !important;
  color: var(--color-base-dark);
}

.header-logo {
  height: 50px;
  width: auto;
}

.header-button{
  padding: 5px;
  border: none;
  cursor: pointer;
  color: #0f1111;
  background-color: var(--color-base-light);
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  margin: 5px;
  transition: 2s;
}

.header-button:hover {
  background-color: var(--color-base-200);
  transition: .5s;
}
