.typing-screen-card-wrapper {
  width: 700px;
  height: 600px;
  background-color: #fff;
  padding: 5px 0px;
}

.screen-card-content {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px;
}

.screen-word {
  display: flex;
}

.screen-letter {
  color: #4a4a4a;
  font-size: 30px;
  font-family: 'PT Mono';
  line-height: 1.5;
  min-width: 25px;
  text-align: center;
  border-radius: .5rem;
  margin: 0px 1px;
  border-bottom: 3px solid transparent;
  transition: color 2s ease-in-out;
}

.is-active {
  border-bottom: 3px solid #3295db;
  border-radius: 0px;
  color: #3295db;
  animation-name: border-blinker;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes border-blinker {
  0% {
    border-color: #3295db;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #3295db;
  }
}


.letter-correct {
  color: rgb(106, 153, 106);
  background-color: #c7e9c7;
}

.letter-incorrect {
  color: red;
  background-color: #ffcccb ;
}