.practice-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.typing-screen-card-wrapper {
  display: flex;
  width: 80%;
  height: 600px;
  background-color: #fff;
  padding: 5px 0px;
  border-radius: 10px;
}

.screen-card-content-right, .screen-card-content-left {
  display: flex;
  align-items: center;
  flex: 5;
  max-width: 50%;
  margin: 5px 0px;
  height: 20%;
  overflow: hidden;
}

.screen-card-content-left {
  justify-content: flex-end;
}

.screen-word {
  display: flex;
  width: auto;
  max-height: 48px;
  font-size: 30px;
  font-family: 'PT Mono';
  line-height: 1.5;
  margin-right: 15px;
  /* padding-right: 15px; */
}

.active-word {
  /* border-left: 3px solid #3295db; */
  border-radius: 0px;
  color: #3295db;
  /* animation-name: border-blinker;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; */
}

@keyframes border-blinker {
  0% {
    border-color: #3295db;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #3295db;
  }
}

.active-left {
  margin: 0px;
}

.word-correct {
  color: rgb(106, 153, 106);
  /* background-color: #c7e9c7; */
}

.word-incorrect {
  color: red;
  text-decoration: line-through;
}